body {
	background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #333;
	margin: 0;
	padding: 0;
	display: grid;
	place-items: center;
}

.list {
	box-sizing: border-box;
	padding: 50px;
	display: grid;
	place-items: center;
	place-content: center;
}

.card {
	width: 600px;
}

.card h3 {
	font-size: 20px;
	color: rgb(28, 104, 218);
}
.card-footer {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-top: 10px;
}

.card-footer span {
	margin-left: 10px;
	background-color: #0077b6;
	color: white;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(18, 101, 196, 0.2);
}

.user-img {
	min-width: 50px;
	min-height: 50px;
	max-width: 50px;
	max-height: 50px;
	border-radius: 999999px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 5px;
}

button {
	background-color: transparent;
	border: none;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	animation: like;
	transition: all 0.3s ease;
}
button:active {
	transform: scale(0.9);
}

@keyframes like {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
.search {
	height: 100px;
	width: 600px;
}

.search-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 600px;
}
input {
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 5px;
	padding: 0 10px;
	box-sizing: border-box;
	position: relative;
	background-color: white;
}

input:focus {
	outline: solid 1px #333;
}

input + i {
	margin-left: 20px;
	font-size: 45px;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 45px;
	height: 45px;
	margin-top: 20px;
	margin-left: 20px;
	border: 4px solid #000;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
